

.root {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 8px;
	border: 1px solid var(--mantine-color-blue-9);
	background-color: #F5F5F5;
	box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.20);
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
	transition: all 0.15s ease 0s;

	&:active:not(:disabled) {
		transform: translateY(1px);
		box-shadow: unset;
		outline: none;
	}

	&:hover:not(:disabled):not(.main) {
		background-color: #e5e5e5;
	}

	&:disabled {
		cursor: unset;
		transform: translateY(0px);
		box-shadow: unset;
		background-color: #cfcfcf;
	}

	&:disabled.main {
		background-color: #9dadd6;
	}
}

.main {
	background-color: #B3C8FF;
	font-weight: 700;
}