

.root {
	min-height: 50px;
	padding: 10px;
	border-radius: 7px;
	border: 1px solid #121629;
	background-color: #F6F4FB;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	resize: vertical;
}